*{
    margin: 10px;
}
@media only screen and (min-width:769px){
    .onlymobile{
        display: none;
    }
}

a{
    text-decoration: none;
    margin: 0px;
}
marquee{
    position: absolute;
    bottom: 10px;
    color: #67DF2F;
    background-color: #000;
    padding: 10px;
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    margin-bottom: 0px;
}
.logo{
    width: 110px;
    height: 110px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    position: absolute;
    left: 80px;
    bottom: 570px;
}
.side-bar{
   height: 600px;
}
.header{
    position: absolute;
    bottom: 500px;
    left: 120px;
}
.header > p{
    color: #000;
    font-family: 'Wix Madefor Display', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.bar{
    position: absolute;
    bottom: 490px;
    width: 270px;
    left: 131px;
}
.big{
    position: absolute;
    width: 600px;
    height: 600px;
    bottom: 50px;
    left: 850px;
}
.head{
    position: absolute;
    bottom: 380px;
    color: #67DF2F;
    text-shadow: -2px 2px 9.600000381469727px #67DF2F;
    font-family: 'Rammetto One', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-text-stroke: 2px black;
    left: 131px;
}
.sub-head{
    position: absolute;
    color: #000;
    font-family: 'Michroma', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 131px;
    bottom: 360px;
}
.para{
    position: absolute;
    color: rgb(0, 0, 0);
    font-family: 'Libre Caslon Display', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 131px;
    bottom:260px;

}
button{
    position: absolute;
    stroke: #000;
    color: black;
    background-color: #67DF2F;
    color: #000;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left:40px;
    padding-right:40px;
    border-radius: 40px;
    padding-top:10px ;
    padding-bottom:10px ;
    bottom: 180px;
    left: 131px;
    box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3), 0 6px 40px 0 rgba(0,0,0,0.19);

}
.button-bar > img{
    position: absolute;
    left: 296px;
    bottom: 199px;
    width: 100px;
}
.button-bar > P{
    position: absolute;
    color: #000;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    bottom: 192px;
    left: 420px;
}
@media only screen and (min-width:401px) and (max-width:768px){
    .onlymobile{
        display: none;
    }
    marquee{
        position: absolute;
        bottom: -60px;
        color: #67DF2F;
        background-color: #000;
        font-size: 20px;
        font-family: 'Michroma', sans-serif;
        margin-bottom: 0px;
        width: 1300px;
    }
    .logo{
        width: 100px;
        height: 100px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        position: absolute;
        left: 80px;
        bottom: 500px;
    }  
    .header{
        position: absolute;
        bottom: 450px;
        left: 120px;
    }
    .header > p{
        color: #000;
        font-family: 'Wix Madefor Display', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .bar{
        position: absolute;
        bottom: 440px;
        width: 270px;
        left: 131px;
    }
    .big{
        position: absolute;
        width: 600px;
        height: 600px;
        bottom: 50px;
        left: 750px;
    }
    .head{
        position: absolute;
        bottom: 350px;
        color: #67DF2F;
        text-shadow: -2px 2px 9.600000381469727px #67DF2F;
        font-family: 'Rammetto One', sans-serif;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        white-space: nowrap;
        -webkit-text-stroke: 2px black;
        left: 131px;
    }
    .sub-head{
        position: absolute;
        color: #000;
        font-family: 'Michroma', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        left: 131px;
        bottom: 335px;
    }
    .para{
    position: absolute;
    color: rgb(0, 0, 0);
    font-family: 'Libre Caslon Display', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 131px;
    bottom:230px;

}
button{
    position: absolute;
    stroke: #000;
    color: black;
    background-color: #67DF2F;
    color: #000;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left:40px;
    padding-right:40px;
    border-radius: 40px;
    padding-top:10px ;
    padding-bottom:10px ;
    bottom: 120px;
    left: 131px;
    box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3), 0 6px 40px 0 rgba(0,0,0,0.19);

}
.button-bar > img{
    position: absolute;
    left: 296px;
    bottom: 137px;
    width: 100px;
}
.button-bar > P{
    position: absolute;
    color: #000;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    bottom: 131px;
    left: 420px;
}

}
@media only screen and (min-width:100px) and (max-width:400px){
    marquee{
        position: absolute;
        bottom: -60px;
        color: #67DF2F;
        background-color: #000;
        font-size: 20px;
        font-family: 'Michroma', sans-serif;
        margin-bottom: 0px;
        width: 480px;
    }
    .onlymobile{
        position: absolute;
    color: rgb(0, 0, 0);
    font-family: 'Libre Caslon Display', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 100px;
    bottom:150px;
    }
    .logo{
        width: 110px;
        height: 110px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        position: absolute;
        left: 80px;
        bottom: 490px;
    }  
    .header{
        position: absolute;
        bottom: 430px;
        left: 90px;
    }
    .header > p{
        color: #000;
        font-family: 'Wix Madefor Display', sans-serif;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        left: 100px;
        line-height: normal;
    }
    .bar{
        position: absolute;
        bottom: 422px;
        width: 200px;
        left: 100px;
    }
    .big{
        position: absolute;
        width: 600px;
        height: 600px;
        bottom: 50px;
        left: 750px;
        display: none;
    }
    .head{
        position: absolute;
        bottom: 360px;
        color: #67DF2F;
        text-shadow: -2px 2px 9.600000381469727px #67DF2F;
        font-family: 'Rammetto One', sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        -webkit-text-stroke: 1px black;
        left: 100px;
        white-space: nowrap;
    }
    .sub-head{
        position: absolute;
        color: #000;
        font-family: 'Michroma', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        left: 100px;
        bottom: 340px;
        white-space: nowrap;
    }
    .para{
    position: absolute;
    color: rgb(0, 0, 0);
    font-family: 'Libre Caslon Display', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 100px;
    bottom:150px;
    display: none;
    }   
    button{
    position: absolute;
    stroke: #000;
    color: black;
    background-color: #67DF2F;
    color: #000;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left:40px;
    padding-right:40px;
    border-radius: 40px;
    padding-top:10px ;
    padding-bottom:10px ;
    bottom: 220px;
    left: 320px;
    white-space: nowrap;
    box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3), 0 6px 40px 0 rgba(0,0,0,0.19);

    }
    .button-bar > img{
    position: absolute;
    left: 345px;
    bottom: 170px;
    width: 100px;
    rotate: 90deg;
}
    .button-bar > P{
    position: absolute;
    color: #000;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    bottom: 81px;
    left: 350px;
}
}
